In [49]:
import numpy as np

In [50]:
import pandas as pd

In [51]:
data = pd.read_excel('data_v4.xlsx')

In [52]:
data.head()

,locations_month,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,...,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,date,locations,label
0,barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,...,1.5,24.0,13.0,23.0,23.0,10.17,3.0,2015-1,barisal,0
1,barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,...,9.5,26.0,14.0,25.0,26.0,2.26,3.0,2015-,barisal,0
2,barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,...,13.0,30.0,16.0,29.0,30.0,4.83,14.0,2015-3,barisal,0
3,barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,...,31.5,34.0,23.0,30.0,34.0,44.09,16.0,2015-4,barisal,0
4,barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,...,37.5,38.0,25.0,32.0,38.0,20.35,15.0,2015-5,barisal,0

In [53]:
data.drop('locations_month',axis=1,inplace=True)

In [54]:
data.drop(['date','label'],axis=1,inplace=True)

In [55]:
data.head()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,locations
0,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,10.17,3.0,barisal
1,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,2.26,3.0,barisal
2,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,4.83,14.0,barisal
3,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,44.09,16.0,barisal
4,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0,20.35,15.0,barisal

In [56]:
loc_lst = list(data['locations'].unique())

i = 0
for haha in loc_lst:
    
    data.loc[data.locations == haha, 'locations'] = i
    i+=1

In [59]:
data.tail()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,locations
2731,38.0,26.0,33.0,10.7,7.0,71.5,9.0,5.0,1006.0,30.0,58.5,36.0,24.0,31.0,36.0,471.8,31.0,47
2732,34.0,26.0,31.0,10.8,7.0,82.0,9.0,5.0,1002.5,30.0,68.5,35.0,26.0,29.0,35.0,601.0,30.0,47
2733,31.0,25.0,28.0,9.5,6.0,89.0,8.0,4.0,1002.0,30.0,76.0,33.0,25.0,27.0,33.0,538.9,31.0,47
2734,33.0,25.0,30.0,9.5,6.0,87.0,7.0,4.0,1003.0,30.0,71.0,34.0,25.5,28.0,34.0,511.4,30.0,47
2735,32.0,25.0,29.0,8.8,6.0,87.0,8.5,5.0,1007.0,30.0,67.5,33.0,25.0,28.0,32.5,295.3,30.0,47

In [64]:
data.drop('pressureInches',axis=1,inplace=True)

In [69]:
data.corr().to_excel('pearson_correlation.xlsx','w')

In [70]:
from sklearn.decomposition import PCA

In [73]:
from sklearn.preprocessing import MinMaxScaler

In [74]:
scaler = MinMaxScaler()

In [76]:
data = scaler.fit_transform(data)

In [77]:
pca = PCA(n_components = 10)

In [81]:
data = pd.DataFrame(data)

In [83]:
len(data[data.isnull().any(axis=1)])

1254

In [84]:
data.dropna(inplace=True)

In [86]:
pca = pca.fit_transform(data)

In [87]:
pca.shape

(1482, 10)